[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aea = {extras = ["all"], version = "*"}
aiohttp = "*"
openapi-core = "*"

[dev-packages]

[requires]
python_version = "3.9"
